@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body {
  font-family: "Lato", sans-serif;

  color: #000;
  background-color: #fbfbfb; /*cream background */
}

a {
  color: #002366;
}

a:hover {
  color: #002366;
  text-decoration: none;
}


.bottom-border {
  border-bottom: 1px solid rgba(212, 212, 212, 0.815);
}
/*--------------------------------------------------------------
# Back to top button animation for middle content
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #fff;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #002366;
  transition: background 0.2s ease-in-out;
}
/* 
  stripe
*/
.stripe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0rem;
}
.social_media_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_media_icons i {
  color: #dadada;
  padding: 0rem 0.5rem;
  transition: 0.5s;
}
.social_media_icons i:hover {
  color: #a1a1a1;
}
.bottom-clip{
  transition:0.5s;
}
.bottom-clip:hover:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  z-index:100000;
  translate: translateX(50%);
  width: 0px;
  height: 0px;
  /* background: rgb(228, 228, 228); */
  border-style: solid;
  
  border-width:10px 10px 0px 10px;
  border-color: #ffffff transparent transparent;
}
.bottom-clip-permanent::after{
  content: "";
  
  position: absolute;
  left: 50%;
  bottom: -20px;
  z-index:100000;
  translate: translateX(50%);
  width: 0px;
  height: 0px;
  /* background: rgb(228, 228, 228); */
  border-style: solid;
  
  border-width:10px 10px 0px 10px;
  border-color: #ffffff transparent transparent;
}
.menu_strip {
  display: flex;
  justify-content: center;
  align-items: center;
}
.strip_menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strip_menu li {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-right: 1px solid rgba(212, 212, 212, 0.815);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 0;
  background: #fff;
  z-index: 997;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #000;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #002366;
  font-weight: bold;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1f3548;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #e3f0fc;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #9eccf4;
  text-decoration: none;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #5c768d;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(31, 53, 72, 0.7);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.bottom-clip-permanent a{
  color: #002366;
  font-weight: bold;
}

/* Carousel */
#carousel .carousel-item {
  height:80vh;

}
.owl-carousel{
  padding:2rem;
}

#footer {
  background: #002366;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #002366;
  border-top: 1px solid #768fa6;
  border-bottom: 1px solid #67839c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0f9d58;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #002366;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #9eccf4;
}
